<a href="https://colab.research.google.com/github/laura-turnbull-lloyd/laura-turnbull-lloyd.github.io/blob/master/Laura_test_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction**

This is a test to see if I can run some of my teaching in R in a Jupyter notebook.

First, we need to install packages.

In [ ]:
install.packages("ggplot2")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Once we've installed the packges, we then need to call them using the library command.

In [ ]:
library("ggplot2")

In [ ]:
getwd()

[1] "/content"

# Upload data

Go to the folder icon on the left and click the upload bitton. Navigate to file. You will need to do this each time.

In [10]:
data <- read.csv("modis_fire_area.csv")
data
summary(data)

   X           names.x.    area_km2 date       year month est..dates.from.VIRS
1                            0.0000 01/01/2000 2000  1
2  X2001_03_01 X2001_03_01   3.6387 01/03/2001 2001  3    14/03/2001
3  X2002_03_01 X2002_03_01  13.5111 01/03/2002 2002  3    25/02/2002
4  X2003_03_01 X2003_03_01  12.1289 01/03/2003 2003  3    26/02/2003
5  X2005_03_01 X2005_03_01   5.3638 01/03/2005 2005  3    07/03/2005
6  X2005_04_01 X2005_04_01   0.6441 01/04/2005 2005  4
7  X2006_03_01 X2006_03_01   3.4486 01/03/2006 2006  3    05/03/2006
8  X2007_03_01 X2007_03_01  18.8758 01/03/2007 2007  3    04/03/2007
9  X2008_02_01 X2008_02_01  18.3795 01/02/2008 2008  2    26/02/2008
10 X2008_08_01 X2008_08_01   4.0666 01/08/2008 2008  8
11 X2008_09_01 X2008_09_01   1.2834 01/09/2008 2008  9
12 X2009_03_01 X2009_03_01   5.3621 01/03/2009 2009  3    03/03/2009
13 X2009_04_01 X2009_04_01  13.9174 01/04/2009 2009  4    02/04/2009
14 X2010_03_01 X2010_03_01   6.0661 01/03/2010 2010  3
15 X2011_03_01 X2011_03_01  26.1957 01/03/2011 2011  3    27/03/2010
16 X2012_03_01 X2012_03_01 114.0011 01/03/2012 2012  3    17/03/2012
17 X2013_04_01 X2013_04_01   0.4315 01/04/2013 2013  4
18 X2013_08_01 X2013_08_01   0.4278 01/08/2013 2013  8
19 X2014_03_01 X2014_03_01   1.4761 01/03/2014 2014  3    09/03/2014
20 X2014_10_01 X2014_10_01  11.3627 01/10/2014 2014 10    07/10/2014
21 X2015_02_01 X2015_02_01  97.2490 01/02/2015 2015  2    14/02/2015
22 X2015_03_01 X2015_03_01 125.1581 01/03/2015 2015  3    08/03/2015
23 X2015_04_01 X2015_04_01  72.6637 01/04/2015 2015  4    08/04/2015
24 X2015_06_01 X2015_06_01   1.0765 01/06/2015 2015  6    10/06/2015
25 X2015_08_01 X2015_08_01   0.7043 01/08/2015 2015  8    06/08/2015
26 X2015_09_01 X2015_09_01   0.4371 01/09/2015 2015  9    01/09/2015
27 X2016_09_01 X2016_09_01   5.1662 01/09/2016 2016  9    08/09/2016
28 X2018_03_01 X2018_03_01  24.6757 01/03/2018 2018  3    21/03/2018
29 X2019_02_01 X2019_02_01   5.1430 01/02/2019 2019  2    22/02/2019
30 X2019_03_01 X2019_03_01  12.4391 01/03/2019 2019  3    23/03/2019
31 X2019_04_01 X2019_04_01   2.1284 01/04/2019 2019  4    01/04/2019
32 X2019_09_01 X2019_09_01   1.7114 01/09/2019 2019  9    09/09/2019
33 X2019_10_01 X2019_10_01   0.2351 01/10/2019 2019 10    21/10/2019
34 34          X2020_04_01 365.5600 01/04/2020 2020  4
35                           0.0000 01/05/2020 2020  5
36                           0.0000              NA  1
37                           0.0000              NA  5
38                           0.0000              NA 11
39                           0.0000              NA 12
   X.1        X.2                      X.3
1                                      start_date
2                                      27/06/2002
3                                      19/07/2002
4                                      09/08/2016
5  13/04/2003                          26/03/2012
6                                      09/08/2002
7                                      08/08/2002
8                                      27/09/2005
9  27/02/2008                          08/10/2010
10                                     08/09/2016
11                                     06/09/2016
12 28/09/2009 these two discrete dates 16/07/2016
13 05/04/2009                          08/03/2015
14                                     09/03/2015
15 29/03/2010                          18/04/2003
16 23/03/2012                          17/03/2012
17                                     12/08/2015
18                                     12/06/2015
19 14/03/2014                          26/04/2015
20 15/10/2014                          these are from modis monthly
21 16/03/2015                          08/04/2020
22 21/03/2015
23 12/04/2015                          and then 27/04/2015 to 29/04/2015
24 30/06/2015                          on and off
25 17/08/2015
26 03/09/2015
27
28                                     ? from fiona's database
29 26/02/2019
30
31 08/04/2019
32 25/09/2019
33
34
35
36
37
38
39
   X.4        X.5            X.6             X.7                X.8
1  end_date   area_burned_ha area_burned_km2 fire_from_monthly? NA
2  27/06/2002 24             0.24                               NA
3  19/07/2002 26             0.26                               NA
4             48             0.48                               NA
5             51             0.51                               NA
6  09/08/2002 60             0.6                                NA
7  08/08/2002 87             0.87                               NA
8             90             0.9                                NA
9             101            1.01                               NA
10            115            1.15                               NA
11            280            2.8                                NA
12            414            4.14                               NA
13            625            6.25                               NA
14            719            7.19            *                  NA
15 20/04/2003 1480           14.8                               NA
16 20/03/2012 1973           19.73           *                  NA
17 15/08/2015 5035           50.35                              NA
18 14/06/2015 10065          100.65          *                  NA
19 29/04/2015 12509          125.09          *                  NA
20                                                              NA
21 24/04/2020 36556          365.56                             NA
22                                                              NA
23                                                              NA
24                                                              NA
25                                                              NA
26                                                              NA
27                                                              NA
28                                                              NA
29                                                              NA
30                                                              NA
31                                                              NA
32                                                              NA
33                                                              NA
34                                                              NA
35                                                              NA
36                                                              NA
37                                                              NA
38                                                              NA
39                                                              NA
   X.9
1  these are from ager
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

      X               names.x.            area_km2            date
 Length:39          Length:39          Min.   :  0.0000   Length:39
 Class :character   Class :character   1st Qu.:  0.5406   Class :character
 Mode  :character   Mode  :character   Median :  4.0666   Mode  :character
                                       Mean   : 24.9982
                                       3rd Qu.: 13.7142
                                       Max.   :365.5600

      year          month        est..dates.from.VIRS     X.1
 Min.   :2000   Min.   : 1.000   Length:39            Length:39
 1st Qu.:2008   1st Qu.: 3.000   Class :character     Class :character
 Median :2013   Median : 4.000   Mode  :character     Mode  :character
 Mean   :2012   Mean   : 4.949
 3rd Qu.:2016   3rd Qu.: 8.000
 Max.   :2020   Max.   :12.000
 NA's   :4
     X.2                X.3                X.4                X.5
 Length:39          Length:39          Length:39          Length:39
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




     X.6                X.7              X.8              X.9
 Length:39          Length:39          Mode:logical   Length:39
 Class :character   Class :character   NA's:39        Class :character
 Mode  :character   Mode  :character                  Mode  :character